*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 450px;
}

.items-list-wrapper {
    border-radius: 5px;
    border: 1px solid black;
    min-height: 36px;

    margin-top: 30px;
}
